:root {
    --blue: #007bff;
    --green: #8BC896;
}

.container {
    font-family: "Roboto", sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

p,
h1 {
    margin: 0;
}

.form {
    max-width: 900px;
    margin: 0 auto;
}

.form__title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 160px 1fr 24px;
    gap: 20px;
    flex-wrap: wrap;
}

.defaultCheckbox {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-width: 160px;
    grid-column: 1;
}

.defaultCheckbox__input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.defaultCheckbox__label {
    font-size: 14px;
    line-height: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #e3e6f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    background: #fff;
    padding: 40px 30px;
    grid-column: 2;
}

.card__title {
    font-size: 14px;
    margin: 0;
    opacity: .5;
}

.sources {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.sources__title {
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 80px;

}

.sources__button {
    padding: 0 15px;
    font-size: 14px;
    min-height: 28px;
    max-height: max-content;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid var(--blue);
    background-color: #fff;
    color: var(--blue);
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.sources__button:hover {
    background-color: var(--blue);
    color: #fff;

}

.sources__selected {
    display: flex;
    align-items: center;
    font-size: 12px;
    opacity: .5;
}

.sources__selectedInfo {
    font-weight: bold;
}

.schedule {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.schedule__title {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.schedule__days {
    display: flex;
    list-style: none;
    gap: 4px;
    padding: 0;
    margin: 0;
}

.schedule__day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

}

.schedule__input {
    display: none;
}

.schedule__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #D3D5E0;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    transition: background-color 0.3s;
}

.schedule__input:checked+.schedule__label {
    color: #FFFFFF;
    background-color: var(--blue);

}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: max-content;
}

.time__input {
    border-radius: 4px;
    height: 20px;
    padding: 0 10px;
    font-size: 11px;
    border-color: rgba(0, 0, 0, .4);
}

.time__title {
    font-size: 12px;
    color: rgba(0, 0, 0, .4);
    background-color: #FFFFFF;
    position: absolute;
    top: -7px;
    left: 7%;
    padding: 0 5px;
    user-select: none;
}

.customCheckbox {
    display: flex;
    align-items: center;
    gap: 25px;
}

.customCheckbox__input {
    display: none;
}

.customCheckbox__title {
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
}

.customCheckbox__body {
    min-width: 38px;
    height: 20px;
    background-color: #A4A8BA;
    border-radius: 14px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 2px;
}

.customCheckbox__body::after {
    content: "";
    background-color: #FFFFFF;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s;

}

.customCheckbox__input:checked~.customCheckbox__body {
    background-color: var(--blue);
}

.customCheckbox__input:checked~.customCheckbox__body::after {
    transform: translatex(113%);
}

.trash-button {
    background: none;
    border: none;
    grid-column: 3;
    display: flex;
    align-items: start;
    width: 20px;
    height: 20px;
    padding: 0;
}

.trash {
    width: 100%;
    height: 100%;
    opacity: .5;
    cursor: pointer;

}

.add-button {
    padding: 0 15px;
    font-size: 14px;
    min-height: 28px;
    max-height: max-content;
    width: max-content;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid var(--green);
    background-color: #fff;
    color: var(--green);
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    grid-column: 2;
}

.add-button__calendar {
    width: 14px;
    height: 14px;
    fill: var(--green);
}

.add-button:hover {
    background-color: var(--green);
    color: #fff;

}

.add-button:hover .add-button__calendar {
    fill: #FFFFFF;
}

@media (max-width: 800px) {

    .grid-container {
        grid-template-columns: 1fr 20px;
        gap: 5px;
        margin: 0 auto;
    }

    .defaultCheckbox,
    .card,
    .add-button {
        grid-column: 1;
    }

    .trash-button {
        grid-column: 2;
    }
}