:root {
    --color-text: #505F98;
    --color-title: #091133;
    --color-button: #111B47;
}

body {
    font-family: "Roboto";
    font-size: 16px;
    padding: 0;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    padding: 0;
}

.wrap {
    width: 540px;
}

.header {
    display: flex;
    padding: 12px 160px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 240px;
    gap: 10px;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu-list {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header__menu-item {
    display: flex;
    align-items: center;
    line-height: 24px;
    color: var(--color-text);
}

.logo__title {
    display: flex;
    align-items: center;
    font-size: 26px;
    line-height: 38px;
    font-weight: 900;
    color: #37447E;
}

.header__btn {
    height: 26px;
    width: 160px;
    font-size: 12px;
    line-height: 18px;
}

.btn {
    border: var(--color-button) 2px solid;
    font-weight: medium;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    color: var(--color-title);
}

.btn--fill {
    background-color: var(--color-button);
    color: #fff;
}

.main {
    position: relative;
    padding: 0 165px;
}

.introduction {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 380px;
}

.introduction__buttons {
    display: flex;
    gap: 30px;
}

.introduction__btn {
    min-height: 36px;
    min-width: 190px;
    line-height: 26px;
}

.introduction__title {
    font-size: 50px;
    line-height: 66px;
    font-weight: medium;
    color: var(--color-title);
}

.introduction__description {
    font-size: 18px;
    line-height: 30px;
    color: var(--color-text);
}

.introduction__description:last-child {
    margin-bottom: 50px;
    color: red;
}

.about {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 110px 0;
}

.about__body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 540px;
}

.title {
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
    color: var(--color-title);
}

.description {
    line-height: 26px;
    color: var(--color-text);
}

.description:last-child {
    margin-bottom: 65px;
}

.about__items {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.about__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 255px;
}

.about__itemTitle {
    line-height: 26px;
    font-weight: 500;
    color: var(--color-title);
}

.about__itemText {
    font-size: 12px;
    line-height: 18px;
    color: #5D6970;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 560px;
}

.info__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 450px;
}

.info__btn {
    font-size: 14px;
    line-height: 24px;
    min-height: 32px;
    width: 150px;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    min-height: 800px;
    position: relative;
}

.price__title {
    margin-bottom: 10px;
}

.price__description {
    text-align: center;
    margin-bottom: 60px;
    line-height: 26px;
    color: var(--color-text);
}

.price__value {
    font-size: 50px;
    line-height: 66px;
    color: #222F65;
}

.price__advantage {
    font-size: 14px;
    line-height: 24px;
    color: #5D6970;
    margin-bottom: 10px;
}

.price__btn {
    font-size: 14px;
    line-height: 24px;
    width: 190px;
    min-height: 32px;
}


.footer {
    height: 215px;
    width: 100%;
    background-color: #E7ECFF;
}



























.main__background--top {
    position: absolute;
    max-height: 1160px;
    right: 0;
    top: -300px;
    z-index: -999;
}

.main__background--bot {
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 100%;
    z-index: -999;
}